.recipes-header input {
  max-width: 1200px;
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  overflow: hidden;
  min-height: 2em;
}

.recipes-header h2 {
  font-weight: 500;
  font-size: 20px;
}

.recipes-empty {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-black);
}

.recipes-list {
  display: flex;
  flex-direction: column;
}

.recipe_id {
  color: var(--color-red);
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 400;
}

.recipe_id em {
  font-family: var(--main-font);
  font-weight: 500
}

.recipe_id:hover {
  color: var(--color-red-hover);
  text-decoration: underline;
}

.exact-recipe {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.exact-recipe h1 {
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-size: 20px;
}


.exact-recipe textarea, .exact-recipe input {
  max-width: 1200px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  overflow: hidden;
  min-height: 2em;
}

.exact-recipe button {
  border: 1px solid var(--color-black);
  cursor: pointer;
  background-color: var(--color-black);
  color: white;
  padding: 5px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.exact-recipe button:hover {
  background:  var(--color-red);
}

.recipe-updated {
  position: fixed;
  top: 15px;
  right: 15px;
  background: var(--color-green);
  color: var(--color-gray);
  
}

.recipe-updated__text {

  padding: 10px 15px 5px 15px;
}
.recipe-updated__preloader {
  background: var(--color-gray);
  padding: 2.5px 15px;
}