.inputdata-field, .inputdata-button {
  width: 100%;
  max-width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  overflow: hidden;
  min-height: 2em;
}

textarea.inputdata-field {
    width: 100%;
    max-width: 100%;
    padding-right: 45px;
    z-index: 80;
    font-size: 14px
}


.inputdata-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  padding: 5px 0;

}

.divided {
  border-bottom: 2px dashed #ccc;
}

.inputdata-button {
  font-weight: 600;
  font-size: 28px;
  padding: 2.5px 5px;
  background: var(--color-black);
  border: none;
  color: #fff;
  
}

.inputdata-button:hover {
  cursor: pointer;
  background: var(--color-red);
}

.inputdata-close {
    z-index: 99;
    position: absolute;
    right: 25px;
    top: 23.5px;
    font-weight: 500;
    font-size: 22px;
}

.inputdata-close:hover {
    cursor: pointer;
    font-weight: 900;
}

.inputdata-textarea_wrapper {
    width: 100%;
    position: relative;
    
}

.inputdata-title {
  width: 100%;
  text-align: center;
  font-weight: 500;
}