button {
    background: transparent;
    border: none;
    padding: 0;
    
}

.header {
    padding: 25px 0 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.header-logo, .header-nav button > img{
    cursor: pointer;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav > ul> li {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.25s;
}

.header-nav > ul> li:hover {
    color: var(--color-red)
}


.header-nav__submenu {
    position: absolute;
    z-index: 99999;
    background: #fff;
    margin-left: 0;
    cursor: pointer;
    -webkit-transition: 400ms;
    transition: 400ms;
    -webkit-box-shadow: 0 0 10px 0 rgb(50 50 50 / 25%);
    -moz-box-shadow: 0 0 10px 0 rgba(50,50,50,.25);
    box-shadow: 0 0 10px 0 rgb(50 50 50 / 25%);
    top: 80px
}

.header-nav__submenu:nth-child(6) {
    left: 50px;
}

.header-nav__submenu > li {
    display: block;
    padding: 10px;
    background: #fff;
    width: 175px;
    line-height: 1;
    position: relative;
    color: #212121;
}

.header-nav__submenu > li:hover {
    -webkit-transition: 400ms;
    transition: 400ms;
    background: #212121;
    color: #fff;
}

